@tailwind base;
@tailwind components;
.value-btn{
  @apply ml-5 mr-1 p-2 my-2 text-gray-700 font-medium rounded-xl border-2 border-solid border-gray-300;
}

.value-btn:hover{
  @apply transform -translate-y-1 border-yellow-500 shadow-lg cursor-pointer;
}
@tailwind utilities;

.btn{
  @apply px-7 py-3 rounded-2xl font-medium text-white;
}

.btn:hover{
  @apply transform -translate-y-1 shadow-lg font-bold;
}

.btn-lift:hover{
  @apply transform -translate-y-1 shadow-lg;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
